.container{
    padding-top: 10px;
    padding-bottom: 10px;
}

#dispImg {
    width: 100%;
}

.carousel {
    width: 100%;
}

.carousel-item {
    width: 100%;
}

.img-item {
    width: 100%;
}

.event-form {
    height: 150px;
    padding-top:20px;
}

.birthday {
    display: none;
}

.graduation {
    display: none;
}

.image-container {
    position: relative;
}

#message-area {
    position: absolute;
    top: 40px;
    padding: 0 60px;
}